<!DOCTYPE html>
<html>
  <head>
    <title>Image Extractor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img
        src="{{ url_for('static', filename='mo_squared.png') }}"
        alt="Logo"
        class="logo"
      />
      <h1 class="title">Image Extractor</h1>

      <div class="drag-area" id="drag-area">
        <p id="drag-text">Trascina il PDF</p>
      </div>

      <form
        action="{{ url_for('upload') }}"
        method="post"
        enctype="multipart/form-data"
        id="upload-form"
      >
        <input
          type="file"
          id="file-input"
          name="pdf"
          accept="application/pdf"
          style="display: none"
        />
        <button
          class="browse-btn"
          type="button"
          onclick="document.getElementById('file-input').click()"
        >
          Cerca nei file
        </button>
        <button type="submit" class="submit-btn">Upload</button>
      </form>

      <div id="file-info">
        {% if file_name %}
        <p>File uploaded: {{ file_name }}</p>
        {% endif %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </script>
  </body>
</html>
